* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: bold;
    list-style: none;
    text-decoration: none !important; /* Asegurarse de que ningún elemento tenga decoración de texto */
}

a {
    text-decoration: none !important; /* Forzar sin subrayado en enlaces */
}

p {
    color: #553d2a;
}
/*Barra dinamica*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.7s;
    padding: 5px 10px 25px 15px;
    z-index: 100;
}

header.abajo {
    background: transparent;
    padding: 5px 10px;
}

header img {
    width: 50px;
    height: 48px;
    margin-right: 45px;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    transition: 1.5s;
}

header h3 {
    font-size: 25px;
    font-weight: lighter;
    color: #fff;
    position: fixed;
    top: 15px; /* Ajusta la distancia superior según tus necesidades */
    left: 70px; /* Ajusta la distancia izquierda según tus necesidades */
    text-shadow: 0 5px 10px #0004;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    height: 35px; /* Ajusta la altura del nav */
    align-items: center;
    background-color: #ab9680dc;
    padding: 5px; /* Elimina el relleno predeterminado de la lista */
    list-style: none; /* Elimina los puntos de la lista */
    border-radius: 5px;
    right: 5%;
}

nav ul li {
    margin: 0 15px; /* Mueve los elementos de la lista */
    transition: all 0.3s ease-in-out; /* Agregado para una transición suave */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 5px 10px;
}

nav ul li:hover {
    background-color: #ab9680; /* Cambia el color de fondo al pasar el mouse */
    padding: 5px;
    border-radius: 3px;
    margin-right: 0; /* Evita que la barra se contraiga hacia la izquierda */
    color: #4F393B; /* Cambia el color del texto al pasar el mouse */
    text-decoration: none !important; /* Forzar sin subrayado en enlaces al pasar el mouse */
}

nav ul li:hover a {
    color: #4F393B; /* Cambia el color del texto al pasar el mouse */
}

/* Estilos para los botones */
nav button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}


header.abajo img,
header.abajo ul li a {
    color: #fff;
}
header.abajo ul li:hover a {
    color: #4F393B; /* Cambia el color del texto al pasar el mouse */
}
/*Termina barra dinamica*/
/*imagen del fondo del inicio*/
.cont_video {
    position: relative;
    width: 100%;
    height: 71vh;
    overflow: hidden;
}

.back-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
    animation: colorChange 5s infinite alternate; 
}

.content p {
    font-size: 16px;
    /*color: #c5c5c5;*/
    color: #eee;
    padding: 0 20px;
    text-align: justify;
    text-shadow: 0 10px 15px #0004;
}

@keyframes colorChange {
    0% {
        color: #fbf3ff;
    }
    50% {
        color: #5959df; /* Color naranja */
    }
    100% {
        color: #fbf3ff;
    }
}

  /* section 2*/

  .section2 {
    padding: 35px 80px 35px;
    background-color: #efeae0;
    position: relative;
}

.section2-content {
    text-align: center;
}


.section2-group {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.sections {
    padding: 0;
}

.sections img {
    width: 140px;
    height: 180px; /*Para mantener la posicion de la imagen*/
    border-radius: 20px;
    display: block; /*Asegurar que la imagen este centarada*/
    margin: 0 auto; /*Centrarlo*/
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .25);
}


  

.section2-img {
    position:fixed;
    top: 0;
    right: 0;

}

  /*Quienes somos*/

.quienes_somos {
    background-color: #F8F7F9;
    height: 75vh;
}
.quienes_somos {
    background-image: url(img_fem/img_quienes_somos.jpeg);
    background-position: right ;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
}

.txt_quienes {
    width: 50%;
    padding: 160px 100px 100px 100px;
    text-align: justify;
    line-height: 2;
}

/*blog*/
.blog-container {
    height: 93vh;
    text-align: center;
    padding: 190px 0; /* Ajusta el padding según sea necesario */
    position: relative; /* Establece el posicionamiento relativo */
    background-image: 
        url(img_fem/3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}



h2 {
    font-size: 55px;
    line-height: 70px;
    color: #553d2a;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 0 30px 0;
}

.blog-container h2 {
    font-size: 55px;
    line-height: 70px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 0 30px 0;
}

.blog-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-1 {
    flex: 1; 
    padding: 20px;
    text-align: center;
}

.blog-1 img{
    display: block; 
    margin: 0 auto;
    width: 250px;
    border-radius: 15px;
    margin-bottom: 80px;
}

.btn-1 {  
    display: inline-block;
    padding: 11px 35px;
    background-color: #553d2a;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
}

.btn-1:hover {
    background-color: #334424;
    color: #fff;
    text-decoration: none;
}


/*Situación de la mujer*/

.Genero {
    padding: 35px 200px 0px;
    background-color: #f9fafc;
    position: relative;
}

.Genero-content {
    text-align: center;
}

.Genero-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #553d2a;
    text-transform: uppercase;
    margin-bottom: 15px;

}

.genero-group {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.generos {
    padding: 0;
}

.generos img {
    width: 150px;
    height: 200px; /*Para mantener la posicion de la imagen*/
    border-radius: 20px;
    display: block; /*Asegurar que la imagen este centarada*/
    margin: 0 auto; /*Centrarlo*/
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .25);
}

.Genero-img {
    position:fixed;
    top: 0;
    right: 0;

}

.generos p {
    margin: 0 auto 35px auto;
    font-size: 15px;
    color: #482451;
    max-width: 600px;
    padding: 30px;
    text-align: justify;
}

/* carrusel */

.wrapper {
    width: 100%;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: 
        url(img_fem/font.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.container_carru {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description:nth-child(1) h4 {
    transform: translateY(-50px);
    filter: blur(20px);
    opacity: 0;
    animation: showcontenido .5s 1s linear 1 forwards;
}
@keyframes showcontenido{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.description h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 2em;
    font-weight: bold;

    text-shadow: 0 5px 10px #0004;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('img_fem/historia1.jpg');
}
.card[for="c2"] {
    background-image: url('img_fem/hist2.jpg');
}
.card[for="c3"] {
    background-image: url('img_fem/historia3.jpg');
}
.card[for="c4"] {
    background-image: url('img_fem/historia4.jpg');
}


/*Cuales son algunas formas...*/
.section5 {
    background-color: #f9fafc;
}

.section5 {
    background-image: url(img_fem/img_violencia.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
    height: 130vh;
}

.txt_sec5 h2 {
    top: 20%;
    width: 50%;
    padding: 200px 130px 20px 100px;
    line-height: 1.5;
}

.txt_sec5 p {
    width: 50%;
    padding: 15px 250px 20px 100px;
    text-align: justify;
    line-height: 2;
}





/*Footer*/
.footer {
    background-color: #232323;
    height: 15vh;
    position: relative;
    
}

.footer-cont {
    height: 15vh;
    padding: 10px ;
}

/*.footer p {
    color: #9a9a9a;
    font-size: 13px;
    text-align: center; 
    position: absolute;
    bottom: 10px; /* Ajustar la posición vertical */
   /* width: 100%; /* Asegurar que ocupe todo el ancho 
}
*/

.footer p {
    color: #9a9a9a;
    font-size: 11px;
    text-align: center;
    position: absolute;
    left: 25%; /* Mover 30px a la izquierda */
    top: 50%; /* Ajustar la posición vertical */
    letter-spacing: 1px;
}


.link {
    position: absolute;
    left: 25%; /* Ajusta la posición horizontal */
    top: 30%; /* Ajusta la posición vertical */
    display: flex; /* Hace que los elementos estén en línea */
    justify-content: center; /* Centra horizontalmente los elementos */
}

.link ul {
    list-style-type: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    display: flex; /* Hace que los elementos de la lista estén en línea */
}

.link a {
    font-size: 13px;
    color: #9a9a9a; 
    margin-right: 15px; /* Agrega un margen derecho entre los elementos */
    width: 100px;
    letter-spacing: 1px;
    transition: transform 0.5s ease;
}

 .link ul li {
    display: inline; /* Hace que los elementos <li> estén en línea */
    transition: transform 0.5s ease; /* Agrega una transición suave */
}

.link ul li:hover {
    transform: translateY(-2px); /* Mueve el elemento hacia arriba al hacer hover */
}
.footer img {
    height: 60px;
    top: 25%;
    left: 4%;
    position: absolute;
}
.footer h2 {
    font-size: 40px; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: lighter;
    color: #b2ebf9; /* Ajusta el color del texto según tus necesidades */
    position: absolute; /* Permite posicionar el texto dentro del footer */
    left: 15%; /* Ajusta la posición a la mitad horizontal */
    top: 60%; /* Ajusta la posición a la mitad vertical */
    transform: translate(-50%, -50%); /* Centra el texto horizontal y verticalmente */
}


.footer-cont::after {
    content: '';
    position: absolute;
    width: 1px; 
    height: 50px; /* Altura de la línea */
    background-color: #e3e3e4;/* Color de la línea */
    top: 28%; /* Posiciona la línea verticalmente debajo del h2 */
    left: 22.5%; /* Posiciona la línea horizontalmente en el centro */
    transform: translateX(-50%); /* Centra horizontalmente la línea */
    z-index: 1; /* Asegura que la línea esté sobre el contenido */
}



.button-container {
    position: absolute;
    right: 6%; /* Ajusta la posición a la mitad horizontal en el lado derecho */
    top: 35%; /* Ajusta la posición a la mitad vertical */
    display: flex;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

  .button {
    outline: 0 !important;
    border: 2px solid transparent; /* Establece un borde inicial transparente */
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-3px);
    border-color: #b2ebf9; /* Cambia el color del contorno al hacer hover */
}
  
.button i {
    font-size: 25px; /* Ajusta el tamaño de la fuente de los iconos */
    color: #fff;
}
.button a {
    color: #fff; /* Establece el color del texto del enlace en blanco */
}

/* Responsiveness */
@media (max-width: 1200px) {
    .content h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .section2 {
        padding: 20px 50px;
    }

    .quienes_somos {
        padding: 80px 50px;
        background-size: 100%;
    }

    .txt_quienes {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .section2-group {
        flex-direction: column;
        gap: 40px;
    }

    .section2 img {
        width: 100px;
    }

    .blog-container h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 img {
        width: 200px;
        margin-bottom: 40px;
    }

    .Genero-content h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .genero-group {
        flex-direction: column;
        gap: 20px;
    }

    .generos img {
        width: 100px;
    }
}

@media (max-width: 576px) {
    header h3 {
        font-size: 18px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .content h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .content p {
        font-size: 14px;
    }

    .quienes_somos {
        padding: 50px 20px;
        background-size: cover;
    }

    .txt_quienes {
        width: 100%;
    }

    .section2 {
        padding: 20px;
    }

    .section2-group {
        flex-direction: column;
        gap: 20px;
    }

    .section2 img {
        width: 80px;
    }

    .blog-container {
        padding: 50px 0;
    }

    .blog-container h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .Genero {
        padding: 20px;
    }

    .Genero-content h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .genero-group {
        flex-direction: column;
        gap: 10px;
    }

    .generos img {
        width: 80px;
    }
}